<section class="myEvents mt-4 mb-2">
  <h2 style="text-align: center; margin-top: 8vh;">Featured Events</h2>

  <div class="event-container mt-4">
    <div class="event-grid">
      <!-- Skeleton Loader while loading is true -->
      <ng-container *ngIf="loading; else eventCards">
        <ngx-skeleton-loader 
          *ngFor="let skeleton of [].constructor(increment)" 
          count="1"
          appearance="line"
          [theme]="{ 
            'border-radius': '8px', 
            'height': '300px', 
            'width': '100%', 
            'margin-bottom': '20px', 
            'background-color': '#e0e0e0',
            'border': '1px solid #9A9A99'
          }">
        </ngx-skeleton-loader>
      </ng-container>

      <!-- Display Event Cards when loading is false -->
      <ng-template #eventCards>
        <div *ngFor="let event of displayedEvents" class="event-card">
          <div class="card h-100">
            <img [src]="event.img" class="card-img-top trend-event-img" alt="{{ event.title }}" />
            <div class="card-body">
              <div class="save-share-icon">
                <img 
                  [src]="event.liked ? 'assets/images/Heart-Filled.png' : 'assets/images/Heart.png'"
                  alt="{{ event.liked ? 'Unlike event' : 'Like event' }}" 
                  (click)="toggleLike(event); $event.stopPropagation();" 
                  style="cursor: pointer;" />
                <img 
                  src="assets/images/Share 1.png" 
                  alt="Share event" 
                  (click)="shareEventLink(event)" 
                  style="cursor: pointer;" />              
              </div>
              <p class="card-title"><span class="card-body-desc">Theme:</span> {{ event.title }}</p>
              <p class="card-text"><span class="card-body-desc">Host:</span> {{ event.hostname }}</p>
              <p class="card-text"><span class="card-body-desc">Date:</span> {{ event.date | date: 'd MMMM, yyyy' }}</p>  
              <p class="card-text"><span class="card-body-desc">Time:</span> {{ event.date | date: 'shortTime' }} </p>
              <button class="event-btn" (click)="viewEventDetails(event)">View Event Details</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="text-center mt-4" *ngIf="!loading">
      <button class="event-btn explore-more-btn" (click)="loadMore()">Explore More Events</button>
    </div>
  </div>
</section>
