
<div class="containerDiv">
    <div class="image-section">
      <img src="assets/images/Group 2662.png" alt="CrowdFind Logo" />
      <div class="logo">CrowdFind</div>
    </div>
    <div class="form-section">
      <div class="form-container">
        <div class="back-arrow">&#8592;</div>
        <h2>Create New Password</h2>
        <label for="create-password">Create Password</label>
        <input id="create-password" type="password" placeholder="Enter Password Here" />
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" type="password" placeholder="Confirm Password Here" />
        <button>Reset Password</button>
        <p>
          Remember Password? <a routerLink="/login" class="login-link">Login</a>
        </p>
      </div>
    </div>
  </div>
  