
<div class="containerDiv">
    <!-- Left section with background image -->
    <div class="left-section">
      <img src="assets/images/Group 2662.png" alt="CrowdFind Logo" />
      <div class="logo">CrowdFind</div>
    </div>
  
    <!-- Right section with form -->
    <div class="right-section">
      <div class="form-container">
        <div class="back-arrow">&#8592;</div>
        <div class="header-title">Confirm Email</div>
        <p>
          Please enter the six (6) digit verification pin that was sent to
          <br />
          ***doe"&#64;"example.com to reset password
        </p>
  
        <!-- Verification input fields -->
        <div class="verification-input">
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
          <input type="text" maxlength="1" />
        </div>
  
        <div class="expires-text">Expires in <span><b>09:40</b></span></div>
        <p class="info-text">
          Didn't get the email?
          <br />
          <span class="resend-link">Click here to Resend</span>
        </p>
  
        <!-- Submit button -->
        <button class="submit-button">Submit</button>
  
        <p class="info-text1">
          Remember Password?
          <a routerLink="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
  