<div class="faq-sect">
    <h2 style="text-align: center; margin:2vh 0vw">Frequently Asked Questions</h2>
    <div class="accordion">
        <div *ngFor="let faq of faqs; let i = index" class="accordion-item">
          <h2 class="accordion-header faq-sect">
            <button (click)="toggleAccordion(i)" class="accordion-button">
              {{ faq.question }}
              
              <span class="plusMinus">{{ faq.isOpen ? '-' : '+' }}</span>
            </button>
          </h2>
          <div class="accordion-body" *ngIf="faq.isOpen">
            {{ faq.answer }}
          </div>
        </div>
      </div>
      
</div>
