.accordion-item {
  border: none;
  border-bottom: 1px solid #EAEAEA; 
}
.accordion-item:last-child {
  border-bottom: none;
}
   .accordion-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    font-family: Open Sans;
    font-size: 0.6em;
    font-weight: 700;
    color: #000000;
  }
  
  .accordion-button::after {
    content: none; 
  }
  
  .accordion-body {
    padding: 10px;
    border-top: 1px solid #ccc;
  }

.plusMinus{
  color: #FF5722;
font-size: 30px;
font-weight: 350;
}