<div class="footer">
    <div class="footer-flex">
        <section class="foot-sect-1">
            <div class="crowdfundlogo-div">
                <img src="assets/images/crowdfind white.png" class="me-2" style="height: 40px;width:40px" alt="Crowd find logo"/>
                 <h2 class="navbar-brand" >CrowdFind</h2>
            </div>
            <p>Learn more about how we're making event booking seamless for everyone</p>
        </section>
        <section class="foot-sect-2">
           
            <p class="bold bold-desc">Have a question or need more information about CrowdFind? We're here to help.</p>
            <div class="footer-contactinfo">
                <p><span class="bold">Email:</span>support&#64;crowdfind.com</p> 
                <p><span class="bold">Phone:</span> +1 (800) 123-4567</p>
                <p><span class="bold">Address: </span>123 Business Way, Suite 100, City, State, ZIP</p>
            </div>
        </section>
        <section class="foot-sect-3">
            <p class="top">Stay in the Loop.</p>
            <p>Be the first to know about upcoming events and exclusive deals.</p>
            <form>
                <input type="email" placeholder="Enter Email Address Here"/><br/>
                <button><span class="subscribe-btn">Subscribe Now</span></button>
            </form>
        </section>
    </div>
    <div class="socials">
        <p>Follow CrowdFind on social media to stay informed and engage with our community.</p>
        <div class="socials-div">
            <div class="fbk social">
                <img src="assets/images/facebook.png" alt="facebook logo"/>
                <p>Facebook</p>
            </div>
            <div class="twitter social">
                <img src="assets/images/twitter.png" alt="twitter logo"/>
                <p>Twitter</p>
            </div>
            <div class="linkedin social">
                <img src="assets/images/linkedin.png" alt="LinkedIn logo"/>
                <p>LinkedIn</p>
            </div>
            <div class="ig social">
                <img src="assets/images/instagram.png" alt="Instagram Logo"/>
                <p>Instagram</p>
            </div>
            
        </div>
        <p>All Rights Reserved &#64;CrowdFind2024</p>
    </div>
</div>
