<div>
    <div>
        <section></section>
        <section>
            <p>Have a question or need more information about CrowdFind? We're here to help.</p>
            <p><span>Email:</span>supportcrowdfind.com</p> 
            <p><span>Phone:</span> +1 (800) 123-4567</p>
            <p><span>Address: </span>123 Business Way, Suite 100, City, State, ZIP</p>
        </section>
        <section></section>
    </div>
    <div class="socials">
        <p>Follow CrowdFind on social media to stay informed and engage with our community.</p>
        <div>
            <div>
                <img src="assets/images/facebook.png" alt="facebook logo"/>
                <p>Facebook</p>
            </div>
            <div>
                <img src="assets/images/twitter.png" alt="twitter logo"/>
                <p>Twitter</p>
            </div>
            <div>
                <img src="assets/images/linkedin.png" alt="LinkedIn logo"/>
                <p>LinkedIn</p>
            </div>
            <div>
                <img src="assets/images/instagram.png" alt="Instagram Logo"/>
                <p></p>
            </div>
            
        </div>
        <p>All Rights Reserved @CrowdFind2024</p>
    </div>
</div>
