<div class="verifyDiv">
    <div class="left-section">
      <img src="/assets/images/Group 2662.png" alt="CrowdFind Logo" />
      <div class="logo">CrowdFind</div>
    </div>
    <div class="right-section">
      <div class="content">
        <h2>Verify your email</h2>
        <p>
          Please check your mail. A verification link has been sent to
          <span class="email">*****doe&#64;example.com. Kindly check your spam folder if you don't find it in your inbox</span>.
        </p>
        <div class="countdown">
          <span>{{countdown}}</span>
        </div>
        <p class="resend">
          Didn't get the link? <a href="#">Resend link</a>
        </p>
      </div>
    </div>
  </div>
  