@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.navbar{
   margin-bottom:4vh;
   background-color: #FFFFFF;
   border-bottom: 1px solid #7D7B7B;
   padding:3px;
}
.logo-div{
    margin-left:3vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.navitem a {
font-family: Open Sans;
font-size: 0.8em;
font-weight: 400;

}
.nav-link:active,.nav-link:hover{
    color: #FF5722;
}
.navbar-collapse,.navbar-nav{
    /* border:2px solid red; */
    display:flex;
    gap:2vw;
    align-items: center;
    justify-content: center;
}
.input-group{
    display:flex;
    align-items: center;
    width:12vw;
    /* padding:0px 10px; */
    border: 1px solid #FF5722;
}
.input-group .bi-search{
    text-align: center;
    margin-left:10px;
}
.form-control{
    outline:none;
    border: none;
}
.form-control::placeholder,.bi-search{
    color:#FF5722;
    text-align: center;
}
.dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;
    /* width: 100%;  */
  }
  
