<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center logo-div">
      <img src="assets/images/Crowdfund-logo.png" class="me-2" style="height: 40px; width: 40px" alt="Crowd find logo"/>
      <h2 class="navbar-brand">CrowdFind</h2>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About Us</a>
        </li>
      </ul>
      <form class="d-flex nav-form" role="search">
        <div class="input-group">
          <div class="bg-white search-div">
            <i class="bi bi-search"></i>
          </div>
          <input
            [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" 
            type="text"
            class="form-control border-start-0"
            placeholder="Search Events"
            aria-label="Search"
            (input)="onSearch()"
          />
        </div>
       
        <div *ngIf="showDropdown" class="dropdown-menu show">
          <a *ngFor="let event of filteredEvents" class="dropdown-item" 
             (click)="onSelectEvent(event?.id)">
            {{ event.title }}
          </a>
        </div>
      </form>
    </div>
  </div>
</nav>
