*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.event-comp{
    width:100vw;
}
.myEvents{
    /* width:100%; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}