<div>
    <section class="sect-img-txt sect-one">
        <div class="sectOne-txt">
            <h2 class="sectOne-header">Discover, Book and Enjoy Unforgettable Events</h2>
            <p>From concerts to conferences,find events that inspire and excite—right at your fingertip</p>
            <button class="info-btn"><span style="color:white;">Book Your Event Now</span> </button>
        </div>
        <img src="assets/images/wine-toast image.png" alt="wine toast image" class="sectImg"/>
    </section>
    <section class="sect-two">
        <h2 class="section-desc" style="text-align: center;">How It Works</h2>
        <div class="sect-img-txt" >
            <img src="assets/images/wine-toast image.png" alt="" class="sectImg" />
            <div>
                <ul style="list-style-type: none;">
                    <li>
                        Step 1: <span>Find Your Event</span>
                        <p>Explore a wide range of categories from music festivals to corporate events. Simply search or
                            browse to discover what’s happening near you or across the globe.</p>
                    </li>
                    <li>
                        Step 2: <span>Book Instantly</span>
                        <p>Easily secure your spot with our streamlined booking process. Choose your tickets, select
                            your payment method, and you're done!</p>
                    </li>
                    <li>
                        Step 3: <span>Enjoy the Experience</span>
                        <p>Receive instant confirmation and event details straight to your inbox. Enjoy the event with
                            zero hassle</p>
                    </li>

                </ul>
                <button class="info-btn"><span>Explore Events</span></button>
            </div>
            
        </div>
    </section>
</div>
<app-featured-events></app-featured-events>
<div class="whyChoose-sect">
    <h2 class="section-desc">Why Choose Us?</h2>
    <div class="sect-img-txt"  >
        <ul style="list-style-type: none;">
            <li>Wide Variety of Events: Whether you're into sports, concerts, or workshops, we’ve got you covered.</li>
            <li>Easy Booking: A few clicks and your tickets are secured!</li>
            <li>Instant Confirmation: Get your tickets in seconds with email confirmations.</li>
            <li> 24/7 Customer Support: We're here to assist you any time, any day.</li>
        </ul>
        <img src="assets/images/boardroom-lecture.png" alt="Boardroom lecture image"/>

    </div>
</div>
<app-faq></app-faq>