<!-- <p>account-ready works!</p> -->
 <div class="body">
  <div class="accountDiv">
    <a href="#" class="close-button">
      <img src="assets/images/Icon Frame.png" alt="close"></a>
    <div class="success-icon">
      <img src="assets/images/shield-tick.png" alt="Success" />
    </div>
    <div class="message">Congratulations!</div>
    <p>Your account is ready to use. <br>You will be redirected to the Home Page in a few seconds...</p>
    <div class="lds-default">
      <div></div><div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
  </div>
 </div>

  