<!-- <app-dashboard></app-dashboard> -->
<section>
    <img src="" alt="current profile picture"/>
    <p>Cuerrent Location</p>
    <button>Edit Profile Here</button>
    <form>
        <div>
            <label>Full Name</label>
            <input type="text" value="name"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" value="mail"/>
        </div>
        <div>
            <label>Location</label>
            <input type="text" value="name"/>
        </div>
        <div>
            <label>Password</label>
            <input type="Pwrd" value="name"/>
        </div>
    </form>
    <app-stay-updated></app-stay-updated>
</section>

