<!-- <app-dashboard></app-dashboard> -->
<section class="dashboard-profile">
    <img src="" alt="current profile picture"/>
    <p>Cuerrent Location</p>
    <button class="prof-btn">Edit Profile Here</button>
    <form class="prof-form">
        <div>
            <label class="profile-formlabel">Full Name</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label class="profile-formlabel">Email</label>
            <input type="email" name="mail"/>
        </div>
        <div>
            <label class="profile-formlabel">Location</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label class="profile-formlabel">Password</label>
            <input type="password" name="name"/>
        </div>
        
        <button class="saveChanges">Save Changes</button>
       
      
    </form>
    
</section>
<app-stay-updated></app-stay-updated>

