
<div class="containerDiv">
    <div class="image-section">
      <img src="assets/images/Group 2662.png" alt="CrowdFind Logo" />
      <div class="logo">CrowdFind</div>
    </div>
    <div class="form-section">
      <div class="form-container">
        <div class="back-arrow">&#8592;</div>
        <h2>Forgot Password</h2>
        <p>
          Please enter your email. A One Time Password (OTP)
          <br />will be sent to you to confirm your email
        </p>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter Your Email Address Here"
          required
        />
        <button (click)="submitEmail()">Submit</button>
        <p>
          Remember Password?<a routerLink="/login" class="login-link">Login</a>
        </p>
      </div>
    </div>
  </div>
  